<%= form_for(@musician) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit %>
    <%if @musician.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @musician.errors.full_messages.each do|message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
