= render partial: 'partials/cover_search'
= render partial: 'partials/search_bar', locals: { event_type_collection: EventType.all, controller: 'musicians', genre_collection: Genre.all }

%p#notice= notice

- @musicians.in_groups_of(3).each do |musician_group|
  .row.spacing-top
    - musician_group.each do |musician|
      - if musician
        .col-md-1
        .col-md-2.band-summary
          - if musician.image.url != default_image_path
            = link_to "#{image_tag musician.image.url}".html_safe, musician
          - else
            = link_to "#{image_tag('band-cover.jpg')}".html_safe, musician
          .col-md-12
            %h3 #{ musician.name }
            %hr
            .center
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
        .col-md-1

