= render partial: 'partials/cover_search'
= render partial: 'partials/search_bar'

%p#notice= notice

%h1 Listing Musicians
%table
  %thead
    %tr
      %th{colspan: '3'}
  %tbody
    - @musicians.each do |musician|
      %tr
        %td= musician.name
        %td= link_to 'Show', musician
