= render partial: 'partials/cover_board', locals: { resource: @musician }

.row.spacing-top
  .col-md-6.col-md-offset-3.lightgrey
    %p.bottom_margin
      %h3 What I play:
      %ul
        - @musician.genres.each do |genre|
          %li #{ genre.name }
.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3.bottom_margin Videos:
    - @musician.youtube_links.each do |link|
      .video_image
        = link_to "#{image_tag get_youtube_thumbnail(link.url)}".html_safe, link.url
.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3 Contact info:
    %h4.bottom_margin
      Email:
    %p.bottom_margin
      #{ @musician.user.email }
    - if @musician.phone
      %h4.bottom_margin
        Phone:
      %p.bottom_margin
        #{ @musician.phone }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    .col-md-offset-5


%nav
  %ul.pager
    - if current_user && current_user.email == @musician.user.email
      %li
        = link_to 'Edit', edit_musician_path(@musician)
    %li
      = link_to 'Go back', musicians_path
