.form-content
  = form_for @client, html: {class: 'form-inline'} do |f|
    - if @client.errors.any?
      = render partial: 'partials/error_wrapper', locals: { resource: @client }

    .row
      .col-md-5
        = f.label :name, "Nombre"
      .col-md-5
        = f.text_field :name
    .row
      .col-md-5
        = f.label :last_name, "Apellido"
      .col-md-5
        = f.text_field :last_name
    .row
      .col-md-5
        = f.label :identification, "Identificación"
      .col-md-5
        = f.text_field :identification
    .row
      .col-md-5
        = f.label :phone, "Teléfono"
      .col-md-5
        = f.text_field :phone
    .row
      .col-md-5
        = f.label :image, "Imagen"
      .col-md-5
        = f.file_field :image
    .row
      .actions.right
        = f.submit "Crear", class: "btn btn-primary"
    %hr
