= form_for(@client) do |f|
  - if @client.errors.any?
    = render partial: 'partials/error_wrapper', locals: { resource: @client }

  = f.label :name
  = f.text_field :name
  = f.label :last_name
  = f.text_field :last_name
  = f.label :identification
  = f.text_field :identification
  = f.label :phone
  = f.text_field :phone

  .actions
    = f.submit
