= render partial: 'partials/cover_search'
= render partial: 'partials/search_bar', locals: { controller: 'events', event_type_collection: EventType.all }

%p#notice= notice

- @events.in_groups_of(3).each do |event_group|
  .row.spacing-top
    - event_group.each do |event|
      -if event
        .col-md-1
        .col-md-2.band-summary
          = link_to "#{image_tag('band-cover.jpg')}".html_safe, event
          .col-md-12
            %h3 #{ event.name }
            %h5 #{ event.description }
            %hr
            .center
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
        .col-md-1
