= render partial: 'partials/cover_board', locals: { resource: @event }
/ %p#notice= notice

.row.spacing-top
  .col-md-6.col-md-offset-3.lightgrey
    %h3.bottom_margin
      Nombre
    %h4.bottom_margin
      #{ @event.name }

.row.spacing-top
  .col-md-6.col-md-offset-3.lightgrey
    %p.bottom_margin
      %h3 Tipo de evento
      %p #{ @event.description }
.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3 Fecha y hora:
    %h4.bottom_margin
      Cuándo?
    %p.bottom_margin
      #{ @event.date }
    %h4.bottom_margin
      A qué hora?
    %p.bottom_margin
      #{ @event.time.strftime("%I:%M %p") }
.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3 Información de contacto:
    %h4.bottom_margin
      Email:
    %p.bottom_margin
      #{ @event.email }
    - if @event.phone
      %h4.bottom_margin
        Teléfono:
      %p.bottom_margin
        #{ @event.phone }

%nav
  %ul.pager
    %li
      = link_to 'Atrás', bands_path
