= render partial: 'partials/cover_board', locals: { resource: @event }
/ %p#notice= notice

.row.spacing-top
  .col-md-6.col-md-offset-3.lightgrey
    %h3.bottom_margin
      Nombre
    %h4.bottom_margin
      #{ @event.name }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3.bottom_margin
      Tipo de Evento
    %p #{ @event.event_type.name }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3.bottom_margin
      Descripcion
    %p #{ @event.description }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3.bottom_margin
      Fecha
    %p #{ @event.date }
    %h3.bottom_margin
      Hora
    %p #{ @event.time.strftime("%I:%M %p") }

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    %h3.bottom_margin
      Informacion de contacto
    %p
      %strong Email:
      #{ @event.email }
    %p
      %strong Telefono:
      #{ @event.phone }

%nav
  %ul.pager
    %li
      = link_to 'Edit', edit_event_path(@event)
    %li
      = link_to 'Back', events_path
