%p#notice= notice

= render partial: 'partials/search_bar', locals: { controller: 'bands', event_type_collection: EventType.all, genre_collection: Genre.all }

- @bands.in_groups_of(3).each do |band_group|
  .row.spacing-top
    - band_group.each do |band|
      -if band
        .col-md-1
        .col-md-2.band-summary
          = link_to "#{image_tag('band-cover.jpg')}".html_safe, band
          .col-md-12
            %h3 #{ band.name }
            %hr
            .center
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
              .glyphicon.glyphicon-star
        .col-md-1
