%header
  .menu-wrapper
    %a.logo{href: root_path}
      %span.logo-icon
        Insert logo here

    = link_to "Postear nuevo evento", new_event_path

  #header-search-bar.search-wrapper
    %i.icon-search
    %input#search-text{placeholder: "Buscar oportunidades", type: "text", value: ""}

  .user-wrapper
  - if user_signed_in?
    .user-picture
      Insert circular user picture around here
    .user-info
      %p #{ current_user_type.name + " " + current_user_type.last_name }
      %p #{ current_user.email }
      = link_to "Cerrar sesion", destroy_user_session_path, method: :delete
  - else
    .login
      %ul.links
        %li.link 
          = link_to "Registrarse", new_user_registration_path
        %li.link
          = link_to "Iniciar sesion", new_user_session_path

