.navbar#navbar-background
  .navbar-header#header-navbar
    = link_to root_path, class: 'navbar-brand navbar-logo' do
      = image_tag 'Beta.png'
  #navbar.navbar-collapse.collapse
    .pull-left
      %ul.nav.navbar-nav
        %li
          = link_to 'Bandas', bands_path
        %li
          = link_to 'Eventos', events_path
        %li
          = link_to 'Musicos', root_path
        %li
    .pull-right
      %ul.nav.navbar-nav
        %li.spacing-top
          = button_to 'postear nuevo evento', new_event_path, method: :get, class: 'btn btn-sm btn-primary'
        %li.user-menu
          %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
            .user-avatar
              - if current_user_type
                = image_tag current_user_type.image(:small)
              - else
                = image_tag "person-placeholder.png"
            %span.caret
          %ul.dropdown-menu
            %li
              - if user_signed_in?
                = link_to "Cerrar sesion", destroy_user_session_path, method: :delete
              - else
                = link_to "Registrarse", new_user_registration_path
                = link_to "Iniciar sesion", new_user_session_path
.subnavbar
  .col-md-12
    .title
